/*remove navbar's default margin-bottom and rounded borders*/

body {
  background-color: #D3D3D3;
  font-family: 'Droid Sans', sans-serif;
}
.logoCont {
  position: relative;
  width:100%;  
}

h1, h3, h4 {
  
  color: #1E211F;
}

p {
  color: #1E211F;
}

.brand {
  margin-top: -48px;  
   position: absolute;
    left: 50%;
    margin-left: -200px !important;  /* 50% of your logo width */
    display: block;
  
}

.img-responsive {
  width: 100%;
}


/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
   margin-bottom: 0;
   height: 280px;
   background-color: #F3F3F3;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
  border-style: none;
  background-color: #2A2A2A;

  
}

.nav.navbar-nav li a {
    color: #E8E8E8;
}

.nav.navbar-nav li a:hover {
    color: #4B9D86;
    text-decoration: none;
}

.nav.navbar-nav li a:active {
    color: #8DFCD7;
    text-decoration: none;
}

a:link {
    color: #383838;
    text-decoration: none;
}


a:visited {
    color: #383838;
    text-decoration: none;
}


a:hover {
    color: #4B9D86;
    text-decoration: none;
}


a:active {
    color: #8DFCD7;
    text-decoration: none;
}



@media (min-width: 768px){
.navbar-nav{
    margin: 0 auto;
    padding-top: 10px;
    display: table;
    table-layout: fixed;
    float:none;
}
}

.navbar-inverse {
  margin-top: 190px;
}


/*set height of grid so .sidenav can be 100% (adjust as needed)*/

.row.content {
  background-color: ;
}

/*set gray background color and 100% height*/
/*
.sidenav{
	padding-top: 20px;
	background-color: ;
	height: 100%;

}
*/

/*set black background color, white text and some padding*/

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.navbar-bottom {
	background-color: #3A3A3A;
	padding: 60px;
  min-height: 180px;
  margin-top: 100px;
}

/*on small screens, set height to "auto" for sidenav and grid*/

@media screen and (max-width: 767px) {
	.sidenav{
		height: auto;
		padding: 15px;
    margin-top: 180px;


	}
	.row.content {
		height:auto;

	}
}

.footText {
  color: #E8E8E8
}

